<<<<<<< HEAD
body {
    margin: 0px;
    padding: 0px;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container {
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
html {
    position: relative;
=======
/*
 * === Global style ===
 */

/* Body style */
body {
  color: #484848;
  font: 14px Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Container style */
.container {
  margin: 30px auto;
  max-width: 1000px;
}

/* Strong style */
strong {
  font-weight: bold;
>>>>>>> 1b6e3a7c2cbf6802948581552c021e08d91407a5
}
